@model Sach
@{
    var user = await userManager.GetUserAsync(User);
    bool isDocGia = signInManager.IsSignedIn(User) && Model.TinhTrang != "Không có sẵn" && await userManager.IsInRoleAsync(user, "DocGia");
}

<div class="card m-2 p-2" style="width: 18rem;">
    <img src="@Url.Content("~/"+ Model.coverUrl) " class="card-img-top" alt="@Model.TenSach" style="height: 250px; object-fit: contain;" />
    <div class="card-body">
        <h5 class="card-title">@Model.TenSach</h5>
        <p class="card-text">Tác giả: @Model.TacGia</p>
        <p class="card-text">Thể loại: @Model.TheLoai</p>
        <p class="card-text">Năm XB: @Model.NamXuatBan?.Year</p>
        <p class="card-text">Giá trị: @Model.GiaTri?.ToString("n0") VNĐ</p>
        <p class="card-text">Tình trạng: @Model.TinhTrang</p>

    </div>
    @if (isDocGia)
    {
        <a class="btn btn-success" asp-page="/DocGia/MuonSach" asp-route-id="@Model.MaSach">📝 Mượn sách</a>
    }
    else
    {
        <a class="btn btn-success" onclick="return checkDocGia()" href="#">📝 Mượn sách</a>
    }

</div>

<script>
    function checkDocGia(isDocGia) {
      const result = confirm("Bạn cần đăng nhập với tư cách độc giả để mượn sách hoặc sách không có sẵn.\n\nNhấn OK.");
       if (result) {
        window.location.href = "/Account/Login"; 
        return false; 
       }
       return true;
    }
</script>